svg{
 width:100px;
 height:100px;
 & text{
     transform: scale(2.5);
     font-family: 'Lato', sans-serif;
 }
}

path{
    fill:none;
    stroke:lightgray;
    stroke-width:9px;
}
.percentWheel{
    stroke: url(#gradient);
    transform-origin: 50% 50%;
    transform:rotate(90deg);
    stroke-dasharray: 472;
}
p{
    width:100px;
    text-align: center;
    margin:0;
    z-index:3;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

